@import './base.css';

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    padding: 0 2rem;
  }
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  font-weight: normal;
  background-color: rgb(168, 175, 154);
}

#todo-list{
  max-width: 100%;
  background-color: rgb(84, 94, 86);
  color: black;
  padding: 10px;
  max-height: 90vh;
  width: 100%;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

#todo-list-item{
  max-width: 842px;
  max-height: 100px;
  background-color: rgb(207, 212, 197);
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
}

#main{
  margin-top: 2rem;
  grid-column: 1 3;
}

.line-through{
  text-decoration: line-through;
}

button{
  border-radius: 5px;
  border: 1px solid gray;
  margin: 2px;
  background-color: rgb(169, 163, 163);
  transition-duration: 0.4s;
  font-size: 16px;
}

button:hover{
  background-color: rgb(147, 136, 136);
}

.removeButton:hover{
  background-color: red;
}

#addButton, #input-addButton{
  margin: 2px;
}

#addButton:hover, #input-addButton:hover{
  background-color: rgb(78, 203, 78);
}

.borderless{
  border: none;
}


#input-section{
  display: grid;
  grid-template-columns: 50% 50%;   
  height: 30px;
  margin-bottom: 5px;
  
}

#operations-buttons{
  background-color: rgb(64, 75, 66);
  padding: 10px;
}

#operations-buttons button{
  padding: 5px;
  margin: 5px;
}

#input-menu{
  background-color: rgb(64, 75, 66);
}

.overlay{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#input-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  height: 30%;
  width: 50%;
  
  background-color: rgb(96, 113, 100);
  
  display: grid;
  grid-template-columns: 100%;
  padding: 30px;
}

#input-menu-close-button{
  position: absolute;
  right: 0;
}

#title-input, #desc-input{
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  outline: none;
  margin: 2px;
  font-size: 16px;
}

#title-input:focus, #desc-input:focus{
  border: 2px solid gray;
}

#desc-input{
  resize: none;
} 

.input-menu-3-rows{
  grid-template-rows: 25% 50% 25%;
}

.input-menu-4-rows{
  grid-template-rows: 10% 20% 50% 20%;
}

.row-2{
  grid-row: 2;
}

.row-3{
  grid-row: 3;
}

.row-4{
  grid-row: 4;
}

#todo{
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
}

#todo-text{
  margin: 0px 5px 0px 5px;
  font-size: 16px;
  grid-row: 1;
  user-select: none;
}

#todo-desc{
  margin: 0px 5px 0px 5px;
  font-size: 16px;
  grid-row: 2;
  overflow-wrap: break-word;
  width: 98%;
}

#completed-button{
  background-color: white;
  height: 20px;
  width: 20px;
}

#checkmark{
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: black;
  width: 15px;
  height: 15px;
}